<form (submit)="submit()">
    <modal (onHide)="hideModal($event)">
        <h5 modal-title>Editar Categoria</h5>
        <div modal-body>
            <card-error *ngIf="showErrors()">
                <list-errors [errors]="errors"></list-errors>
            </card-error>
            <overlay [(show)]="showOverlay"><strong>Carregando Categoria</strong></overlay>
            <category-form [form]="form"></category-form>
        </div>
        <div modal-footer>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
            <button type="submit" class="btn btn-primary">Salvar</button>
        </div>
    </modal>
</form>