<div class="card mt-4">

    <h5 class="card-header d-flex align-items-center">
        <i class="fas fa-layer-group me-2"></i> Categorias
        <div class="d-flex ms-auto">
            <button class="btn btn-dark btn-sm" (click)="categoryInsertService.showModalInsert()">
                <i class="fas fa-plus fa-lg"></i> Nova Categoria
            </button>
        </div>
    </h5>
    <div class="card-body">

        <div class="table-responsive">
            <table class="table table-borderless">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Nome</th>
                        <th class="text-center">Ativo?</th>
                        <th>Criado em</th>
                        <th class="text-center" scope="col">Ação</th>
                    </tr>
                </thead>
                <tbody>
                    <tr
                        *ngFor="let category of categories | paginate:{itemsPerPage: pagination.itemsPerPage, currentPage: pagination.page, totalItems: pagination.totalItems}">
                        <td>{{category.id}}</td>
                        <td>{{category.name}}</td>
                        <td class="text-center">
                            <i class="fas fa-2x"
                                [ngClass]="{'fa-toggle-on text-success': category.active, 'fa-toggle-off text-danger': !category.active}"></i>
                        </td>
                        <td>{{category.created_at}}</td>
                        <td class="text-center">
                            <a href="javascript:void(0)" class="btn btn-outline-primary btn-sm me-md-2"
                                (click)="categoryEditService.showModalEdit(category.id)">
                                <i class="fas fa-edit"></i>
                            </a>
                            <a href="javascript:void(0)" class="btn btn-outline-danger btn-sm"
                                (click)="categoryDeleteService.showModalDelete(category.id)">
                                <i class="fas fa-trash-alt"></i>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="d-flex justify-content-center has-text-centered">
                <pagination-controls (pageChange)="pageChanged($event)" previousLabel="Anterior" nextLabel="Próximo">
                </pagination-controls>
            </div>
        </div>
    </div>
</div>
<!-- <overlay [(show)]="showOverlay"><strong>Carregando Categorias</strong></overlay> -->
<category-new-modal (onSuccess)="categoryInsertService.onInsertSuccess($event)"
    (onError)="categoryInsertService.onInsertError($event)"></category-new-modal>

<category-edit-modal [categoryId]="categoryId" (onSuccess)="categoryEditService.onEditSuccess($event)"
    (onError)="categoryEditService.onEditError($event)">
</category-edit-modal>

<category-delete-modal [categoryId]="categoryId" (onSuccess)="categoryDeleteService.onDeleteSuccess()"
    (onError)="categoryDeleteService.onDeleteError($event)">
</category-delete-modal>