<div class="card mt-4">
    <h5 class="card-header d-flex align-items-center">
        <i class="fas fa-layer-group"></i> Categorias
        <div class="d-flex ms-auto">
            <button class="btn btn-dark btn-sm"><i class="fas fa-plus fa-lg"></i> Nova Categoria</button>
        </div>
    </h5>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-borderless">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Nome</th>
                        <th class="text-center">Ativo?</th>
                        <th>Criado em</th>
                        <th>Ação</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let category of categories">
                        <td>{{category.id}}</td>
                        <td>{{category.name}}</td>
                        <td class="text-center">
                            <i class="fas fa-2x"
                                [ngClass]="{'fa-toggle-on text-success': category.active, 'fa-toggle-off text-danger': !category.active}"></i>
                        </td>
                        <td>{{category.created_at}}</td>
                        <td><button class="btn btn-primary btn-sm">Editar</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>