<div class="form-group" [formGroup]="form">
    <label [for]="field.id">{{field.label}}</label>
    <input type="text" class="form-control" isInvalid formControlName="name" [id]="field.id">
    <field-error [field]="form.get('name')" 
                 [label]="field.label"
                 [messages]="field.validationMessage"></field-error>
</div>
<div class="form-group mt-4" [formGroup]="form" *ngIf="form.get('active')">
    <label class="switch">
        <input type="checkbox" name="active" formControlName="active">
        <span class="slider round"></span>
    </label>
</div>