<form class="row g-3" (submit)="submit()">
    <div class="col-auto">
        <label for="categories[]">Categorias</label>
        <select name="categories[]" id="categories" multiple class="form-select" [(ngModel)]="categoriesId">
            <option *ngFor="let category of categories" [ngValue]="category.id" >{{category.name}}</option>
        </select>
    </div>
    <div class="col-auto d-flex align-items-center">
        <button class="btn btn-primary" type="submit">Incluir Categoria</button>
    </div>
</form>
