<form (submit)="submit()">
    <modal (onHide)="hideModal($event)">
        <h5 modal-title>Novo Usuário</h5>
        <div modal-body>
            <overlay [(show)]="showOverlay"><strong>Aguarde...</strong></overlay>
            <user-form [form]="form"></user-form>
        </div>
        <div modal-footer>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
            <button type="submit" class="btn btn-primary" [disabled]="!form.valid">Salvar</button>
        </div>
    </modal>
</form>